In [ ]:
# Data Types in Python
# List : mutable

a = 11
b = 3.14
c = '11'
d = False
e = None

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'NoneType'>

In [4]:
l = ['DataScience', 2025]
print(l)

l.append('AI')
print(l)

l_1 = l[2]
print(l_1)

['DataScience', 2025]
['DataScience', 2025, 'AI']
AI

In [9]:
nums = list(range(1, 11))
print(nums)

print(nums[2:4])
print(nums[2:])
print(nums[:4])
print(nums[:])
print(nums[::2])
print(nums[::-1])

nums[1:3] = [999]
print(nums)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[3, 4]
[3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[1, 999, 4, 5, 6, 7, 8, 9, 10]

In [12]:
# Tuple : immutable

t = ()
t = ('NYU', 'DataScience', 2025, 3.14, False)
print(t)


t = list(t)
t.insert(2, 'AI')
t = tuple(t)

print(t)

('NYU', 'DataScience', 2025, 3.14, False)
('NYU', 'DataScience', 'AI', 2025, 3.14, False)

In [14]:
# Dictionary : mutable

l = []
t = ()
d = {}

d = {'name': 'NYU', 'course': 'DataScience', 'year': 2025}
print(d)
print(d['name'])
print(d.get('course'))

{'name': 'NYU', 'course': 'DataScience', 'year': 2025}
NYU
DataScience

In [15]:
r = 10
area = 3.14 * r**2

if area > 500:
    print('Large area')
elif area <=500 and area > 100:
    print('Medium area')
else:
    print('Small area')

Medium area

In [17]:
i = 100
sum = 0

while i > 0:
    sum += i
    i -= 1
print("Sum of first 100 numbers is:", sum)

Sum of first 100 numbers is: 5050

In [18]:
sum = 0
i = 100

while True:
    if i <0:
        break

    sum += i
    i -= 1

print("Sum of first 100 numbers is:", sum)

Sum of first 100 numbers is: 5050

In [20]:
sum = 0

for i in range(1, 101):
    sum += i

print("Sum of first 100 numbers is:", sum)

Sum of first 100 numbers is: 5050

In [22]:
animals = ['cat', 'dog', 'rabbit']
for i in range(len(animals)):
    print(animals[i])

cat
dog
rabbit

In [23]:
aniamals = ['cat', 'dog', 'rabbit']
for i in aniamals:
    print(i)

cat
dog
rabbit

In [24]:
a = (1, "Eunji")
b,c = a
print(b)
print(c)

1
Eunji

In [27]:
d={1:'New York',2:'Paris',3:'Dubai',4:'London'}

for i, city in d.items():
    print(i, city)

d.items()

1 New York
2 Paris
3 Dubai
4 London

dict_items([(1, 'New York'), (2, 'Paris'), (3, 'Dubai'), (4, 'London')])